.calendarFrame {
    box-sizing: border-box;
    position: relative;
    width: 90%;
    clear: both;
    border-image: linear-gradient(#7409E1, #9606E0) 1;
    border-width: 7px;
    border-style: ridge;
    margin: 33px;
    display: grid;
    aspect-ratio: 1.217;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 6fr 3fr repeat(5, 12fr);
}

.topHeaderCal {
    box-sizing: border-box;
    border-bottom: solid 4px #af64fb;
    grid-column: 1 / span 7;
    background-color: #c084fc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.topHeaderCal > h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    color: #ffffff;
}

#calLeftArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.5vw;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

#calRightArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5vw;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

.calendarFrame > h3 {
    box-sizing: border-box;
    background-color: #b478f0;
    border-bottom: solid 4px #9d48f2;
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.dateFrame {
    border-top: dashed #c489ff 3px;
    border-left: dashed #c489ff 3px;
    background-color: #ffffff;
    overflow: auto;
    content: "";
}

.dateFrame > h4 {
    font-size: 1.2vw;
    font-weight: normal;
    margin: 0;
    padding: 0.6vw;
    color:#520CE2;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.dateFrame > button {
    width: 80%;
    font-size: 0.85vw;
    margin: 0.8vw;
    margin-left: 1.2vw;
    padding: 0.4vw;
    color: #ffffff;
    border-radius: 0.1vw;
    border: 0px;
    background-color: #a67ef7;
    box-shadow: 0.3vw 0.3vw 0 #814ceb, -0.3vw -0.3vw 0 #c6aafd;;
    display: flex;
    justify-content: center;
}

.calendarFrame ::-webkit-scrollbar {
    display: none;
}

.dateFrame > button {
    animation: bounceIn 0.5s linear;
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}