.goalTitle {
    width: 90%;
}

.goalTitle > h1 {
    font-size: 34px;
    padding: 10px;
    margin-bottom: 0px;
}

.parentGoal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
    min-width: 0;
    flex: 1;
}

.goalBlock {
    width: 90%;
    border: #0086c9 solid 7px;
    border-radius: 7px;
    background-color: #0aa3f0;
    padding: 5px 10px;
}

.goalBlock > h3 {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.goalBlock > label {
    font-size: 20px;
    color: #ffffff;
}