.forNav {
    display: flex;
}

.leftnav {
    background-image: linear-gradient(to bottom, #1E2344, #191d3c);
    min-height: 100vh;
    width: 200px;
    flex-shrink: 0;
}

.leftnav > h2 {
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 28px;
    color: #ffffff
}

.leftNavChange {
    width: calc(100% - 20px);
    border-radius: 10px;
    margin: 6px 10px;
    position: relative;
    overflow: hidden;
}

.leftNavChange::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #611CEF, #3D06AF);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 0;
}

.leftNavChange > label {
    position: relative;
    padding: 5px 10px;
    font-size: 20px;
    color: #e6e1ff;
    z-index: 1;
}

.leftNavChange > label > input {
    display: none;
}

.leftNavChange:has(input:checked)::before {
    transform: translateX(0);
}

.leftNavDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leftNavDiv > button {
    width: 80%;
    margin: 7px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: #520CE2;
    font-size: 16px;
    color: #ffffff;
}

.leftNavDiv > button:hover {
    background-color: #31058A;
}

.overflow {
    overflow-wrap: break-word;
    word-break: break-word;
}