.forNav {
    display: flex;
}

.leftnav {
    background-color: #f2f2f2;
    min-height: 100vh;
    width: 185px;
    flex-shrink: 0;
    border-right: solid 4px #8f8f8f;
}

.leftnav > h2 {
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 5px;
    border-bottom: solid 3px #adadad;
    background-color: #e6e6e6;
    font-size: 22px;
}

.leftnav > label {
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border-bottom: solid 2px #c9c9c9;
}

.leftnav > label > input {
    transform: scale(1.3);
    margin: 8px;
}

.leftNavDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leftNavDiv > button {
    width: 80%;
    margin: 7px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: #a557ff;
    font-size: 16px;
    color: #ffffff;
}

.leftNavDiv > button:hover {
    background-color: #772ccd;
}

.overflow {
    overflow-wrap: break-word;
    word-break: break-word;
}