.mainTitle {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mainTitle > h1 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.mainTitle > h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.mainFlowBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 40px;
}

.mainBlock {
    width: 700px;
    border: #000000 solid 7px;
    border-radius: 7px;
}

.mainBlockTitle {
    border-bottom: solid 7px;
}

.mainBlockTitle > h2 {
    padding: 10px;
    font-size: 35px;
    color: #ffffff;
}

.mainExistingItem {
    padding: 8px;
}

.mainExistingItem > h4 {
    padding: 0px 10px;
    margin: 0px;
    font-size: 22px;
    color: #ffffff;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mainExistingItem > p {
    padding: 0px 10px;
    margin: 0px;
    font-size: 20px;
    color: #ffffff;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mainNewStart > a {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
}

.mainNewStart > a:hover {
    color: #ffffff;
}