.taskbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #020628;
}

.taskButton {
    background-color: #020628;
    height: 60px;
    border: none;
}

.taskButton:hover {
    background-color: #1E2344;
}

.taskButton > a {
    padding: 14px;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
}

.taskButton > a:hover {
    color: #ffffff;
}

.activeTaskButton {
    background-color: #7409E1;
}

.activeTaskButton:hover {
    background-color: #7409E1;
}